# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      fetch-depth: '2'


    - name: Configure Git
      run: |
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

    # - name: Run me
    #   run: |
    #     git checkout master
    #     git pull --depth 2
    #     git rev-list origin/master

    - name: Helm Chart Releaser
      # uses: helm/chart-releaser-action@v1.0.0-rc.2
      uses: razvvan/chart-releaser-action@master
      env:
        CR_TOKEN: "${{ secrets.CR_TOKEN }}"


